

body{
  background: #ffffff;
  font-family: 'Overpass', sans-serif;
}

.content-bg-pattern{
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,133,110,1) 0%, rgba(255,83,93,1) 100%);
  height: 630px;
  width: 100%vw;
  position: relative;
}

.bg-pattern{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-pattern img{
  width: 250%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  left:-40%;
}

.part1-header{
  position: absolute;
  top: 115px;
 display: flex;
  flex-direction: row;
  float: left;
  color: #ffffff;
  font-size: 18px;
  float: left;
  width: 100%;
}

.part1-header-b{
  top:20px;
  float: right;
  margin-right: 50px;
  width: 43%;
  display: flex;
}

#blogr{
  font-size: 40px;
  font-weight: bold;
  margin-left: 130px;
  font-family: Arial, Helvetica, sans-serif;
  width: 12%;
}

#login{
  z-index: 1;
  width: 100px;
  margin-left: 260px; 
  padding-top: 20px;
}

.menu{
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  transition: .3s ease;
  user-select: none;
  width: 15%;
}

.menu a{
  text-decoration: none;
  margin-left:30px;
  /*background: #ffffff;*/
}


.menu.active .arrow-down{
  transform: rotate(180deg);
  color:#ffffff;
}

.menu:hover{
  border-color: #000;
}

.menu-content{
  border: 1px solid #000000;
  color: #000000;
  width: 175px;
  height: 130px;
  bottom: -157px;
  border-radius: 5px;
  background: #ffffff;
  display:none;  
  position: absolute;
  top:55px;
  border:1px solid red
}

.menu-content-contact{
  padding-top: 10px;
}

.menu-content-links{
  padding-left: 20px;
}

.menu-content p{
  user-select: none;
}

.menu::after{
  content:'';
  display: inline-block;
  width: 0; 
  height: 0; 
}


.menu.active{
  border-color: #000;

}

.menu.active::after{
  display:block;
}

.menu.active .menu-content{
  display: block;
}

.btn{
  border: none;
  border-radius: 30px;
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 600;
}

.btn-outline-primary{
  background:#F6CEEC;
  color: #ffffff;
}

.btn-outline-secondary{
  margin-left: 20px;
  border: 1px solid white;
  color:#ffffff;
}

#sign-up{
  text-align: center;
  float: right;
  margin-left: 340px; 
  position: absolute;
  font-size: 18px;
  top:5px;
  background: #ff7b86;
}

#start{
  background: #ff7b86;
}

#white-button{
  background: #ffffff;
  color:#dfa3a5;
}

.part3-header{
  margin-top: 30px;
  margin-left: 400px;
}

.btn-primary{
  width: 130px;
  height: 50px;
  margin-top: 30px;
  margin-left: 70px;
  float: left;
  font-size: 20px;
}

.part1-section{
  position: absolute;
  top: 280px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 70%;
  margin-left:190px;
}

.part1-section h1{
   font-weight: bold; 
   font-size: 55px;
}

.part1-section p{
  margin-top: 30px;
  font-size: 22px;
  text-align: center;
}

.section-buttons{
  position: absolute;
  top: 480px;
  margin-left: 510px;
  align-items: center;
}

.newsletter{
  font-weight: bold;
}

#accordion-link{
  width: 150px;
  height: 50px;
  background: #F5A9F2;
  margin-left: -12px;
  margin-top:-44px ;
  border: none;
  color: #ffffff;
  font-size: 18px;
}

#container{
  margin-top: 30px;
  margin-left: -40px;
  width: 150px;
  border-radius: 15px;
  color: black;
}

#accordion-body{
  background: #ffffff;
  border-radius: 5px;
  height: 150px;
  width: 160px;
}

.accordion-body p{
  margin-bottom: -20px;
}

.part1-main{
  margin-top: 30px;
  color: black;
  display: flex;
  flex-direction: column;
}

.part1-main-title{
  margin-top: 125px;
  margin-bottom: 50px;
  width: 100%;
  align-items: center;
}

.title{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}

.subtitle{
  font-size: 24px;
  font-weight: 600;
}

.part1-main-a{
  padding-left: 105px;
  width: 50%;
  border:1px solid black;
  margin-top: 75px;
}

.description{
  margin-top: 10px;
  float: left;
  width: 90%;
}

.description-part1{
  width: 90%;
}

.description-part2{
  width: 80%;
}


.part1-main-b{
  float: left;
  margin-left: 700px;
  margin-top: -665px;
  overflow: hidden;
}

.part2-main{
  border-top-right-radius:100px;
  border-bottom-left-radius:100px;
  width: 100%;
  height: 420px;
  background-color: #3b3c5b;
  position: relative;
  margin-top: 60px;
  display:flex;
  color:#ffffff;
}

.testando{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.testando img{
  position: absolute;
  left: -215px;
  bottom: -100px;
  
}

.part2-main-b{
  z-index: 1;
  width: 50%;
  margin-left: 725px;
  margin-top: 140px;
}

.title-part2{
  text-align: left;
}

.image-content{
  margin-top: -60px;
  position: absolute;
  width: 40%;
}

.image-content img{
  margin-left: 120px;
}

.part3-main{
  margin-top: 125px;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.part3-main-a{
  position: relative;
  width: 50%;
}

.part3-main-a img{
  width: 150%;
  height: 100%;
  left:-50%;
  position: relative;
}

.part3-main-b{
   margin-top: 200px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.content-part3{
  margin-top: 30px;
}

footer{
  background: black;
  color: #ffffff;
  margin-top: 100px;
  width: 100%;
  height: 400px;
  border-top-right-radius: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.content-footer{
  padding-top: 75px;
  display: flex;
  flex-direction: row;
}

.item1-colum-footer{
  font-weight: bold;
  margin-bottom: 30px;
  color: #ffffff;
}

.colum-footer{
  display: flex;
  flex-direction: column;
  width: 25%;
}

a:link{
  text-decoration: none;
  color:#ffffff;
}

a:visited{
  text-decoration: underline;
  color: #ffffff;
}

a:hover{
  text-decoration: underline;
  color: #ffffff;
}
















