
body{
  background: #ffffff;
}

.content-bg-pattern{
  background: #F5A9F2;
}

.content-header{
  display: flex;
}



.bg-pattern{
 background:url("../i
 mages/bg-pattern-intro.svg");
 width: 100%vw;
 height: 500px;
 background-position: left;
 /*position: fixed;
 top: -1300px;*/
 margin-left: -450px;
 border: 1px solid red;
}

.content-bg-pattern{
  display: flex;
  flex-direction: row;
}


.part1-header{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.part2-header{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 150px;
  height: 40px;
  float: left;
  color: #ffffff;
}

.part3-header{
  margin-top: 30px;
  margin-left: 400px;
}

.btn-primary{
  width: 130px;
  height: 50px;
  margin-top: 30px;
  margin-left: 70px;
  float: left;
  font-size: 20px;
}

section{
  margin-top:150px;
  font-size: 6
  0px;
}
.part1-section{
  margin: 0 auto;
  text-align: center;
}